<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayProductName</key>
	<string>WQHDR 14 X1Y6</string>
	<key>DisplayProductID</key>
	<integer>0</integer>
	<key>DisplayVendorID</key>
	<integer>2889</integer>
	<key>IODisplayEDID</key>
	<data>AP///////wAoiQAAAAAAAAAbAQS1HxF4A43gpVM1uCYOUFQAAAABAQEBAQEBAQEBAQEBAQEBwF8AoKCgPlAwIDYANa4QAAAaAAAAAAAAAAAAAAAAAAAAAAAAAAAA/gBKREkgICAgICAgICAgAAAA/gBMUE0xNDBNNDIwICAgAKc=</data>
	<key>scale-resolutions</key>
	<array>
		<data>AAAKAAAABaAAAAABACAAAA==</data>
		<data>AAAFAAAAAtAAAAABACAAAA==</data>
		<data>AAAPAAAACHAAAAABACAAAA==</data>
		<data>AAAHgAAABDgAAAABACAAAA==</data>
		<data>AAAMgAAABwgAAAABACAAAA==</data>
		<data>AAAGQAAAA4QAAAABACAAAA==</data>
		<data>AAAKAgAABaAAAAABACAAAA==</data>
		<data>AAAKrAAABgAAAAABACAAAA==</data>
		<data>AAAFVgAAAwAAAAABACAAAA==</data>
	</array>
</dict>
</plist>
